langgraph
langchain-core
langchain-cohere
langsmith                   

langchain-community           
pypdf                         
python-dotenv                 
pydantic                      
typing_extensions             
langgraph-checkpoint-postgres
psycopg[binary,pool]

reportlab

faster-whisper

kokoro>=0.9.4
soundfile

sounddevice
numpy